<script src="/js/scripts.js"></script>

{{#each data.[0]}} 
    <div id="{{@index}}" type="submit" class="button">
        <div class="time-txt">{{formatDate date}}</div>
        <div class="txt money">{{"money"}}</div>
        <div hidden>{{getNameById ../data.[1] bankId}}</div>
        <div hidden>{{"description"}}</div>
        <div hidden>{{getNameById ../data.[2] group}}</div>    
    </div>
{{/each}}

<a class="button-add" href="/operation/create"><t>+</t></a>  

