<script src="/js/operation.js"></script>

{{#each data.[0]}} 
    <div class="button">
        <div class="time-txt">{{formatDate date}}</div>
        <div class="txt money">{{"money"}}</div>
        <div class="info txt">
            <div >{{getNameById ../data.[1] bankId}}</div>
            <div >{{getNameById ../data.[2] group}}</div>
            <div class="desc">{{"description"}}</div>
        </div>
        <div class="control-button" id={{@index}}>
            <div class="del-circle"></div>
        </div>
    </div>
{{/each}}

<a class="button-add" href="/operation/create"><t>+</t></a>  

