<!DOCTYPE html>
<header></header>
<body> 
    <div> Show operations page</div>
        {{#each data.[0]}} 
        <form type="button" action="/bank/delete/{{@index}}" method="post">
            <button type="submit" >
                <div>{{"date"}}</div>
                <div>{{"money"}}</div>
                <div>{{getNameById ../data.[1] bankId}}</div>
                <div>{{"description"}}</div>
                <div>{{"group"}}</div>           
            </button>
        </form>
        {{/each}}
</body>
<footer></footer>